gdb/gdb-gdb.py
gnulib/Makefile.gnulib.inc
gnulib/import/alloca.h
gnulib/import/arpa/
gnulib/import/ctype.h
gnulib/import/dirent.h
gnulib/import/fcntl.h
gnulib/import/glthread/.dirstamp
gnulib/import/inttypes.h
gnulib/import/limits.h
gnulib/import/locale.h
gnulib/import/malloc/.dirstamp
gnulib/import/math.h
gnulib/import/netdb.h
gnulib/import/signal.h
gnulib/import/stdio.h
gnulib/import/stdlib.h
gnulib/import/string.h
gnulib/import/strings.h
gnulib/import/sys/
gnulib/import/time.h
gnulib/import/unistd.h
gnulib/import/wchar.h
gnulib/import/wctype.h
a.out
*Makefile
*Makefile.in
binutils/bfdtest1
binutils/bfdtest2
binutils/testsuite/.dirstamp
binutils/testsuite/gentestdlls
gas/config/.dirstamp
gdb/doc/GDBvn.texi
gdb/doc/gcore.1
gdb/doc/gdb-add-index.1
gdb/doc/gdb-cfg.texi
gdb/doc/gdb.1
gdb/doc/gdbinit.5
gdb/doc/gdbserver.1
gdb/doc/version.subst
sim/Make-common.sim
sim/arch-subdir.mk
sim/common/.dirstamp
sim/common/version.c-stamp

*.diff
*.patch
*.orig
*.rej

*~
.#*
*#

*.flt
*.gmo
*.info
*.la
*.lo
*.o
*.pyc
*.tmp
*.a

.deps
.libs

autom4te.cache
config.cache
config.h
config.intl
config.log
config.status
libtool
POTFILES
*-POTFILES

TAGS
TAGS.sub

.local.vimrc
.lvimrc

.clang-format
.clang-tidy
.clangd
.cache
compile_commands.json

.gdbinit
.gdb_history

perf.data
perf.data.old

# gnu global files
GPATH
GRTAGS
GTAGS
GSYMS

# ignore core files, but not java/net/protocol/core/
core
!core/

lost+found

# ignore ./contrib/gcc_update output
LAST_UPDATED
REVISION

stamp-*
*.stamp

# ignore in-tree prerequisites
/mpfr*
/mpc*
/gmp*
/isl*
